{% extends "main.html" %} {% block body %}
<div class="ui grid stackable" style="margin-bottom: 20px;">
<div class="sixteen wide column">
    <button class="ui basic button" id="addAlarmBTN">
      <i class="icon add to calendar"></i>
      Add Alarm
      </button>
    <button class="ui basic button" id="reloadTableBTN">
      <i class="icon refresh"></i>
      Refresh
      </button>
    <table class="ui celled table" id="alarmsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Source</th>
                <th>URL</th>
                <th>Alarm time</th>
                <th>Weekdays</th>
                <th>Active</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for alarm in alarms %}
            <tr>
                <td>{{ alarm.name }}</td>
                <td>{{ alarm.source }}</td>
                <td>{{ alarm.url }}</td>
                <td>{{ alarm.alarmTime }}</td>
                <td>{{ alarm.repeatDays }}</td>
                <td>{{ alarm.active }}</td>
                <td class="selectable">
                    <a onclick="deleteAlarm(this, '{{ alarm.id }}')">Delete <i class="trash icon"></i></a>
</td>
<td class="selectable">
    <a onclick="editAlarm(this, '{{ alarm.id }}')">Edit <i class="edit icon"></i></a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<div class="ui modal" id="addAlarmModal">
    <i class="close icon"></i>
    <div class="header">
        Add an Alarm
    </div>
    <div class="content">
        <form class="ui form" id="createAlarmForm" onsubmit="return false">
<div class="field">
    <label>Alarm name</label>
    <input type="text" name="alarm-name" placeholder="Alarm name" required>
</div>
<div class="field">
    <label>Alarm time</label>
    <input type="text" name="alarm-time" placeholder="14:00:00" required>
</div>
<div class="field">
    <label>Source</label>
    <select class="ui dropdown" name="alarm-source">
  <option value="">Source</option>
  <option value="file">file</option>
  <option value="spotify" disabled>Spotify</option>
  <option value="youtube-dl" disabled>Youtube-DL</option>
</select> </div>

<div class="field">
    <label>File</label>
    <select class="ui dropdown" name="alarm-file">
  <option value="">Select the file</option>
</select> </div>

<div class="field">
    <label>Repeating</label>
    <select name="alarm-repeatdays" multiple="" class="ui fluid dropdown">
        <option value="">Select the weekdays</option>
<option value="1">Monday</option>
<option value="2">Tuesday</option>
<option value="3">Wednesday</option>
<option value="4">Thursday</option>
<option value="5">Friday</option>
<option value="6">Saturday</option>
<option value="7">Sunday</option>
</select>
</div>
<div class="field">
    <div class="ui checkbox">
        <input type="checkbox" name="alarm-isactive" tabindex="0" class="hidden" checked>
        <label>Active</label>
    </div>
</div>
<div class="field">
    <div class="ui error message" id="createAlarmErrors"></div>
</div>
</form>
</div>
<div class="actions">
    <div class="ui black deny button">
        Cancel
    </div>
    <div class="ui right labeled icon button" id="createAlarmFormBTN"> Create Alarm
        <i class="checkmark icon"></i>
    </div>
</div>
</div>
{% endblock %}{% block bottom_scripts %}
<script>
                                                             $('.ui.dropdown').dropdown();
                                                             $('.ui.checkbox').checkbox();
</script>
{% endblock %}