{% extends "main.html" %} {% block body %}
<div class="ui grid stackable" style="margin-bottom: 20px;">
    <div class="eight wide column" style="margin: 0 auto;">
        <h1>Volume Control!</h1>
        <div class="ui range" id="volume-range"></div>
    </div>
    <div class="eight wide column">
        <br>
        <center>
            <div class="ui right labeled input">
                <div class="ui label"><i class="volume up icon"></i></div>
                <input type="text" placeholder="Volume" id="volumeText" disabled>
                <div class="ui basic label">%</div>
            </div>
        </center>
    </div>
    <div class="eight wide column">
        <button class="ui button" style="width: 100%" onclick="$.getJSON('/api/v1/test/1')">Testing the playback sound system </button>
    </div>
    <div class="eight wide column">
        <button class="ui button" style="width: 100%" onclick="$.getJSON('/api/v1/test/2')">Stop the playback sound system </button>
    </div>
</div>{% endblock %} {% block bottom_scripts %}
<script src="/assets/js/range.js"></script>
<script>
    $(document).ready(function() {
        $.getJSON("/api/v1/volume", function(data) {
            if (data.success) {
                $('#volume-range').range({
                    min: 0,
                    max: 100,
                    step: 5,
                    input: "#volumeText",
                    start: data.data.replace("%", ""),
                    onChange: function(val) {
                        $.getJSON("/api/v1/volume/" + val, function(data) {
                            console.log(data);
                            //$("#volumeText").text(data.data);
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock %} {% block top_stylesheets %}
<link rel="stylesheet" type="text/css" href="/assets/css/range.css"> {% endblock %}