<!DOCTYPE html>
<html>

<head>
    <title>Alarm manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <!-- !!! Load this from local folder -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/custom.css" /> {% block top_stylesheets %}{% endblock %}
</head>
<!-- 3. Display the application -->

<body class="pushable">
    <div class="pusher" id="main-pusher">
        {% include "menu.html" %}
        <div class="ui container" style="padding-bottom: 20px;"> {% block body %}{% endblock %}
        </div>
    </div>
    {% include "footer.html" %}
    <script>
        var currentPage = "{{ site }}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    {% block top_scripts %}{% endblock %}
    <script src="assets/js/custom.js"></script>
    {% block bottom_scripts %}{% endblock %}
</body>

</html>